header {
  display: flex;
  align-items: center;
  width: 100vw;
  justify-content: space-around;
  height: 7%;
  background-color: rgb(127, 216, 231);
}

.logo {
  display: flex;
  align-items: center;
  transition: 0.3s;
  color: rgb(43, 43, 43);
}

.logo p {
  font-size: 2rem;
}

.logo span {
  color: rgb(211, 1, 1);
}

.logo:hover {
  scale: 1.1;
  cursor: pointer;
}

.consulta {
  color: rgb(211, 1, 1);
  font-size: 18px;
}

.exames {
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 8px;
  transition: 0.3s;
  color: rgb(43, 43, 43);
}

.exames:hover {
  scale: 1.1;
  cursor: pointer;
  color: rgb(211, 1, 1);
}

.hospitais {
  font-size: 18px;
  transition: 0.3s;
  color: rgb(43, 43, 43);
}

.hospitais:hover {
  scale: 1.1;
  cursor: pointer;
  color: rgb(211, 1, 1);
}

.suporte {
  font-size: 18px;
  transition: 0.3s;
  color: rgb(43, 43, 43);
}

.suporte:hover {
  scale: 1.1;
  cursor: pointer;
  color: rgb(211, 1, 1);
}

.perfilSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.username {
  font-size: 18px;
  color: rgb(43, 43, 43);
}

.perfil {
  border: 2px solid rgb(43, 43, 43);
  border-radius: 100%;
  padding: 10px;
  transition: 0.3s;
  color: rgb(43, 43, 43);
}

.perfil:hover {
  cursor: pointer;
  color: rgb(211, 1, 1);
  border: 2px solid rgb(211, 1, 1);
}

.dropdownIcon {
  height: 20px;
}

.bellIcon {
  height: 24px;
  color: rgb(43, 43, 43);
}

.userIcon {
  height: 24px;
  width: 24px;
}
